.header_top {
    width: 100vw;
    max-width: 1440px;
    height: 56px;
    margin: 0 auto;
    padding: 4px 20px 4px 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header_logo {
    height: 80%;
}

.header_logo-img {
    height: 100%;
}

.header_nav {
    height: 100%;
    padding: 7px 0;
}

.header_nav-img {
    height: 100%;
}

@media screen and (max-width: 480px) {
    .header_top {
        padding: 4px 10px;
    }
}